{% load staticfiles %}

<div id="footer" class="container-fluid px-5">
    <div class="row copyright">
        <div class="col-md-2 col-sm-3 text-left">
          Designed by <a href="https://nist.gov"><img src="{% static 'img/logo_nist_black.png' %}"
                                            class="small-logo"
                                            alt="National Institute of Standards and Technology"/></a>
        </div>
        <div class="px-1 col-md-2 col-sm-3 text-left">
            <ul style="text-align: right; line-height: 1.25rem">
                <li>Materials Resource Registry</li>
                <li>Version: {% include "theme/footer/version.html" %} (2012 - {% now "Y" %})</li>
            </ul>
        </div>
        <div class="px-1 col-md-2 col-sm-3 text-left">
            <ul style="text-align: right; line-height: 1.25rem">
                <li>
                    Powered by:
                    <img src="{% static 'img/cdcs_logo.png' %}" alt="cdcs-logo" class="cdcs-logo"/>
                    <a href="https://github.com/usnistgov/nmrr">CDCS</a>
                </li>
            </ul>
        </div>
        <div class="px-1 col-md-6 col-sm-3 text-right">
            {% include 'core_website_app/user/footer_menu.html' %}
        </div>
  </div>
</div>
