core-main-registry-app==1.15.*
core-curate-registry-app==1.15.*
core-dashboard-registry-app==1.15.*
core-explore-keyword-registry-app==1.15.*
core-explore-oaipmh-app==1.15.*
core-oaipmh-provider-app==1.15.*
core-oaipmh-harvester-app==1.15.*
core-website-app==1.15.*
core-module-local-id-registry-app==1.15.*
core-module-status-registry-app==1.15.*
core-module-fancy-tree-registry-app==1.15.*
core-module-text-area-app==1.15.*
core_linked_records_app==1.0.0-beta6
