core_main_registry_app==1.0.0-alpha2
core_curate_app==1.0.0-beta3
core_dashboard_registry_app==1.0.0-alpha2
core_explore_keyword_app==1.0.0-beta3
core_explore_oaipmh_app==1.0.0-beta4
core_oaipmh_provider_app==1.0.0-beta3
core_website_app==1.0.0-beta3
core_module_blob_host_app==1.0.0-beta3
