core_main_app[mongodb,auth,allauth]==2.13.*
core-main-registry-app==2.13.*
core-curate-registry-app==2.13.*
core-dashboard-registry-app==2.13.*
core-explore-keyword-registry-app==2.13.*
core-explore-oaipmh-app==2.13.*
core-oaipmh-provider-app==2.13.*
core-oaipmh-harvester-app==2.13.*
core-website-app==2.13.*
core-module-local-id-registry-app==2.13.*
core-module-status-registry-app==2.13.*
core-module-fancy-tree-registry-app==2.13.*
core-module-text-area-app==2.13.*
core_linked_records_app==2.13.*
core-user-registration-app==2.13.*
