:root {
    --main-highlight-color: #257ABC;
}

.btn-custom {
    color: white;
    background-color: var(--main-highlight-color);
    border-radius: 10px;
    background-size: 0em;
    font-size: inherit;
    line-height: 0.5em;
    margin: 0.2em 0 0.2em 0
}

.btn-custom:hover {
    color: #fff;
    transition: color 0.2s ease-in-out
}

