/* Bootstrap overide */
.btn.btn-primary {
    background-color: #007ac1 !important;
    border-color: #565656;
}

.btn.btn-primary:hover {
    background-color: #005f96 !important;
}

.btn.btn-secondary {
    background-color: #f9f9f9 !important;
    border-color: #d4d4d4 !important;
    color: #313131 !important;
}

.btn.btn-secondary:hover {
    background-color: #e2e2e2 !important;
}

.modal-footer {
  justify-content: space-between !important;
  padding: .75rem 0 .75rem 0;
}

.save-registry-button-container:parent {
    justify-content: center !important;
}

#content {
    width: calc(100% - 3em);
    background-color: #fff;
    margin: 1px 1.5em 0 1.5em;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.textarea_lock_h {
    resize: vertical
}

.alert-danger a {
    color: #a94442;
}

.tools-dropdown {
    float: right;
    padding-left: 35px;
}

.page-item.active .page-link {
    background-color: #007ac1 !important;
    border-color: #565656;
}

.errorlist {
    color: red;
    margin-bottom: .1em;
}

#data-title { /* Remove data title from data page */
    visibility: hidden;
    height: 0em;
}
/* End Bootstrap overide */

/* Fontawesome overide */
.fas span {
    font-family: 'Source Sans Pro', sans-serif !important;
}
/* End fontawesome overide */
