{% load staticfiles %}
<div class="row">
    <div class="col-md-12">
        <div class="row" id="intro">
            <div class="col-md-5 col-md-offset-1">
                <h2>Find Materials Data</h2>
                <p>
                    This system allows for the registration of materials resources, bridging the gap between existing resources and
                    the end users. The Registry functions as a centrally located service, making the
                    registered information available for research to the materials community.
                </p>
                <p>
                    This is being developed at the National Institute of Standards and Technology and is made available to solicit
                    comments from the Material Science community. Please do not enter any proprietary data into this system.
                </p>
            </div>
             <div class="col-md-4 col-md-offset-1" id="tiles">
            </div>
        </div>
    </div>
</div>
