#intro {
    margin-top: 0.25em;
    text-align: justify;
}

#intro #mgi-diagram {
    width: 15em;
}

#browse-btn {
    float: right;
    color: #c0c0c0;
    font-size: 0.6em;
}

/**
 * Tiles CSS
 */

.tile .icon {
    margin: 0.4em 0.2em 0.25em 0.25em;
    width: 2em;
    font-size: 2em;
    float: left;
    text-align: center;
}

.tile {
    display: inline-block;
    width: 100%;
}

.tile .text h3 {
    margin-bottom: 0.1em;
}

.tile .text {
    margin-top: 1.25em;
    font-size: 0.85em;
    text-align: justify;
}

/**
 *
 **/
#available-options {
    margin-bottom: 0;
}